<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyQuanCaPhe.Properties.Settings.QuanLyQuanCaPheConnectionString"
            connectionString="Data Source=LAPTOP-QVVRD1SB;Initial Catalog=QuanLyQuanCaPhe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>